<div>
    <row>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <a href="#" class="navbar-brand">Staff Tracking System</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu"><span class="navbar-toggler-icon"></span></button>

            <div class="dropdown giveMeSpace">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="staffMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Staff
                </button>
                <div class="dropdown-menu" aria-labelledby="staffMenu">
                  <a href="user" class="button dropdown-item">Add new staff member</a>
                  <a href="user" class="button dropdown-item">Update existing staff member</a>

                </div>
              </div>

              <div class="dropdown giveMeSpace">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="contractMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Contracts
                </button>
                <div class="dropdown-menu" aria-labelledby="contractMenu">
                    <a href="contract" class="button dropdown-item">Add new contract</a>
                    <a href="contract" class="button dropdown-item">Update existing contract</a>
                </div>
              </div>

              <form id="navbarSearchBox" class="form-inline ml-auto giveMeSpace">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>

              <div class="dropdown giveMeSpace">
                <button class="btn btn-primary" type="button" id="logout">Logout</button>
              </div>

        </nav>
    </row>
</div>