<head>
    <%- partial('partials/head') %>
</head>

<body>

    <header>
        <%- partial('partials/header') %>
    </header>

    <div id="navbar">
        <%- partial('partials/navbar') %>
    </div>

    <h1>Contracts</h1>

</body>