<head>
    <%- partial('partials/head') %>
</head>

<body>


    <header>
        <%- partial('partials/header') %>
    </header>

    <row class="centreme">
        <h3>Staff Contract Tracker</h3>
    </row>

    <row class="centreme">
        <h5 class="center">Authorised users only</h5>
    </row>

    <div id="loginsection">
        <%- partial('partials/loginsection') %>
    </div>

</body>