<head>
    <%- partial('partials/head') %>
</head>

<body>

    <header>
        <%- partial('partials/header') %>
    </header>

    <div id="navbar">
        <%- partial('partials/navbar') %>
    </div>

    <div id="instructions" class="centreme">
        <h6>Welcome to the RGU Staff Tracker</h6>
        <p>Click the links in the bar at the top to navigate the website.</p>

    </div>
</body>