<head>
    <%- partial('partials/head') %>
</head>

<body>

    <header>
        <%- partial('partials/header') %>
    </header>

    <div id="navbar">
        <%- partial('partials/navbar') %>
    </div>

    <h1>Users</h1>
    <h2>Test</h2>

</body>